{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>
	  <table class="table table-dark table-striped table-hover">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->
          {% for i in range(0, cafes|length) %}
            <tr>
                {% for j in range(0, cafes[i]|length) %}
                    {% if i!=0 and j==1 %}
                        <td><a href="{{cafes[i][j]}}">Maps Link</a></td>
                    {% elif i==0 %}
                        <td><b>{{ cafes[i][j] }}</b></td>
                    {% else %}
                        <td>{{cafes[i][j]}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
          {% endfor %}
  	  </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
